<div class="card mb-2">
  <li *ngFor="let item of items">
    <div class="card-header d-flex justify-content-between align-items-center">
      <input type="checkbox" [(ngModel)]="item.checked" data-md-icheck value="{{item.id}}" (change)="onCheckboxChange(item,$event)">
        <h3>{{ item.title }}</h3>
        <div>
            <button (click)="item.hide = !item.hide" class="btn btn-primary">
                Show
            </button>
            <button (click)="deleteItem(item)" class="btn btn-danger">
                Delete
            </button>
            <span *ngIf="item.checked">Done!</span><span *ngIf="!item.checked"></span>
        </div>
    </div>
    <div class="card-body" [hidden]="item.hide">
        <p>{{item.description}}</p>
    </div>
  </li>
</div>
